

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.title {
  color: blue;
  font-size: 18px;
}

.App  {
  text-align: center;
  margin: auto;
  padding-top: 50px;
}